{% extends "base.html" %}

{% block header %}
<header class="jumbotron subhead">
  <div class="container">
    <h1>About Sobha</h1>
    <p class="lead">Sobha Constructions limited, Sobha Academy.</p>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
	<p class="lead">Passion at work!</p>
	<p>
Sobha Developers Ltd, a Rs. 15 billion company, is one of the largest and only backward integrated real estate players in the country.
	</p>
	<p>
With three decades of experience in creating resplendent interiors of palaces and masterpieces in the Middle-East, Mr. PNC Menon founded Sobha Developers in 1995 with a clear vision to transform the way people perceive quality in the real estate sector in India.
	</p>
	<p>
Since inception the company has always strived for benchmark quality, customer centric approach, robust engineering, in-house research, uncompromising business ethics, timeless values and transparency in all spheres of business conduct, which have contributed in making it a preferred real estate brand in India. In 2006 Sobha went public through its initial public offering in 2006, an event that created history when the issue got oversubscribed a record 126 times.
	</p>
	<p>
Sobha is primarily focused on residential and contractual projects. Company's residential projects include presidential apartments, villas, row houses, super luxury apartments, luxury apartments, semi-luxury apartments and plotted development along with amenities such as clubhouse, swimming pool and shopping complex. In all its residential projects the company lays strong emphasis on environment management, water harvesting and high safety standards.
	</p>
	<p><small>
On the contractual side, the company has constructed a variety of structures for corporates including corporate offices, convention centres, software development blocks, multiplex theatres, hostel facilities, guest houses, food courts, restaurants, research centres and club houses. Some of Sobha's prestigious clients include Infosys, Taj Group, DELL, HP, Timken, Biocon, Institute of Public Enterprises (IPE), Bosch, Hotel Leela Ventures and others.
	</small></p>
	<p>
Sobha's superior quality execution capability is its core strength. As of 31 March 2012, in the past 17 years since its inception, Sobha has completed 79 real estate projects and 209 contractual projects covering about 51.80 Million Square Feet of area. The Company currently has 38 ongoing residential projects aggregating to 23.04 Million Square Feet of developable area and 16.28 Million Square Feet of Super Built-up area, and 47 ongoing contractual projects aggregating to 10.05 Million Square Feet under various stages of construction. Sobha has made a footprint in 22 cities and 13 states across India.
	</p>
	<p>
The backward integration model is one of the key competitive strengths of Sobha. This literally means that the Company has all the competencies and in-house resources to deliver a project from conceptualization to completion. Backward integration includes an interiors division with one of India's largest wood working factory, a metal works and glazing factory, and a concrete products factory.
	</p>
	
	<p class="text-warning">
The company has also set up Sobha Academy, a training centre that offers world-class training in building construction with state-of-the-art facilities.
	</p>
	<p>
Sobha is a process driven organization where each activity is extensively detailed. We were one of the first companies in the industry to obtain the ISO 9001 certification. We have also received the OHSAS 18001:2007 and ISO 14001:2004 certifications for our Environmental, Health and Safety Management System. As a conscious step, in sync with the international initiative, our future township projects will be designed for accreditation with the Indian Green Building Council.
	</p>
	<p>
The Company believes that for the overall well being of the society, a comprehensive and sustainable development of rural India is a must. It is in this context that Graamasobha, a unique social developmental program was initiated by the company in 2006 in two grama panchayaths in Palakkad district of Kerala. The program covers key human development verticals like education, health, employment, water, sanitation and housing besides various social empowerment measures.
	</p>
	<p>
Sobha has time and again been acknowledged for the quality of its projects by various institutions of repute. Some of the prestigious awards include 'CNBC Best Executed Project Award' for Sobha Malachite, 'CNBC Best Residential Project with more than 5 lakh sq. ft Award' for Sobha Daffodil, 'CIDC Best Building Award' for Infosys Global Education Center II and 'India's Top 10 Builders Award' by Construction World amongst others.
	</p>
	<p>
Sobha is an organization where quality meets excellence, technology meets aesthetics and passion meets perfection. 
	</p>
	
	<address>
	<strong>Sobha Academy, Ltd.</strong><br>
	Panniyankara, Vadakkencherry<br>
	Palakkad-DT, Kerala, PIN 678683<br>
	Phone:(4922) 255864
	</address>
</div>
{% endblock %}
