{% extends "base.html" %}


{% block header %}
<header class="jumbotron subhead">
  <div class="container">
    <h1>Develop</h1>
    <p class="lead">lets develop this site as a community.</p>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
	<hr class="soften2">
	
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#req" data-toggle="tab">Requirements</a></li>
    <li><a href="#tab1" data-toggle="tab">Download and Test</a></li>
    <li><a href="#tab2" data-toggle="tab">File system</a></li>
    <li><a href="#tab3" data-toggle="tab">Front End</a></li>
  </ul>
  
  <div id="myTabContent" class="tab-content">    
	<div class="tab-pane fade in active" id="req">
		
		<p class="lead">You need Python.</p>
		<p>if you don't have python you can install it from <a href="http://python.org/">python.org</a>.</p>
		<p>open command prompt and type <code>c:\> python</code> . </p>
		<p class="text-success">if it enters to python shell(>> ) then hurray success.</p>
		 <p class="text-error">if it does not enter into python shell(>> ). i am sorry you need to set environment variables. sumesh call me.</p>
		 <hr>
		<p class="lead">You need django</p>
		<p>if you don't have django</p>
		<p> download django zip file from <a href="https://www.djangoproject.com/download">djangoproject.com</a>
		</p>
		<p> to install, unzip the downloaded file eg: Django-1.5.1.tar.gz. Open command prompt and move into folder, and install.</p>
		<pre>c:\> cd Django-1.5.1 <br>c:\Django-1.5.1> python setup.py install</pre>
		<p class="text-success">installation will take place. and you have success fully installed django. that is it please read next section.</p>
		
	</div>
		
	<div class="tab-pane fade" id="tab1">
    <p class="lead">Download and Test the Code.</p>
    <p>
go to <a href="http://github.com/suhailvs/sobha">sobha-sourcecode</a>
and download the source code</p>

	<p>unzip the source code. Open command prompt</p> 
	<pre>c:\> cd sobha <br>c:\sobha> cd openshift <br>c:\sobha\openshift> python manage.py runserver</pre>
	<p>Open link <code>http://127.0.0.1:8000</code> on your browser. If every thing ok you can see the webpage. </p>
	<p class="text-error">if it does't works call me.</p> 
	</div>
		
    <div class="tab-pane fade" id="tab2">
    	<p class="lead">The Filesystem</p>
    	<p> i only listed the important files and folders</p>
    	<strong>openshift</strong>
    	<ul>
    		<li>static
    			<ul>
    				<li>css <span class="muted">contains css files</span></li>
    				<li>img <span class="muted">contains image files</span></li>
    				<li>js <span class="muted">contains javascript files</span></li>
    			</ul>
    		</li>
    		<li>templates <span class="muted">feel free to edit and change these files.</span>
    			<ul>
    				<li>includes
    					<ul>
    						<li>footer.html</li>
    						<li>hnav.html</li>
    					</ul>
    				</li>
    				<li>pages
    					<ul>
    						<li>aboutus.html</li>
    						<li>activities.html</li>
    						<li>admission.html</li>
    						<li>..</li>
    					</ul>
    				</li>
    				<li>base.html</li>    				
    			</ul>    		
    		</li>
    		<li>settings.py</li>
    		<li>urls.py</li>
    		<li>templatehelper.py</li>
    		<li>views.py</li>
    		<li>...</li>
    	</ul>
    </div>
   <div class="tab-pane fade" id="tab3">
      <p class="lead">The Grid System</p>
      	
      	<p class="text-error"> Sumesh i am strongly recommend to download twitter bootstrap from github.com. it is a beautiful frontend framework.</p>
      	<p class="text-warning"> You can search on github to find it.</p> 
      	<p>its documentation can be found on <code>bootstrap-master/docs/components.html</code> of downloaded folder.</p> <p> after you develop, compressed the files and email me</p> <p>if you know github it will very easy to send me updates. you just need to <pre>git add . <br >git commit -a<br>git push </pre> that is quite easy.</p> <h3> that is it BYE. Good luck from SUHAIL :)</h3>


    </div>
  </div>
</div>
<hr class="soften">
{% endblock %}
