<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		
		<ul class="nav">
			{% for item in nav_items %}
				{% if item.0 == cur_page %}
					<li class="active"><a>{{ item.1 }}</a></li>
					
				{% else %}
					<li><a href={{ item.0 }}>{{ item.1 }}</a></li>
				{% endif %}
			{% endfor %}
			
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Account	<b class="caret"></b>
				</a>
				
				<ul class="dropdown-menu">
					<li><a data-toggle="modal" href="/sadmin/">Student</a></li>
					<li><a data-toggle="modal" href="/signin/">Teacher</a></li>
					<li><a data-toggle="modal" href="/signin/">Principal</a></li>
					<li class="divider"></li>
					<li><a href="/admin/">Administrator</a></li>
				</ul>
			</li>
		</ul>
		
		</div>
	</div>
</div>
