{% extends "guest/base.html" %}

{% block header %}
<header class="jumbotron subhead">
  <div class="container">
    <h1>Career</h1>
    <p class="lead">work with us.</p>
  </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
<hr class="soften2">
	<p class="lead">Sri Kurumba Trust CSR Wing of Sobha Developers.</p>
	<div class ="well">
		<p><strong> Invites applications for HSSTs in the following subjects.</strong></p>
		<div class="alert alert-info">
		<ul><li>English</li> 
		<li>Mathematics</li>
		<li>Physics</li>
		<li>Chemistry</li>
		<li>Biology</li>
		<li>Economics</li>
		<li>Business Studies</li>
		<li>Accountancy</li>
		<li>Computer Science and Application</li>
		<li>Malayalam</li>
		</ul>
		</div>
		<div class="alert alert-success">
		<p><strong>Qualifications:</strong> Minimum First class PG & B.Ed in concerned subject(regular stream) with SET/C-TET/K-TET/NET and 3years teaching experience at HSS level. Exp in entrance exam coaching is desirable. Age up to 45 years. Fluency in English is compulsory. in addition to teaching, they have to involve in activities and programmes that encourage extracurricular activities.</p>
		<p> only committed innovative, result oriente, smart working, techno-savvy and enthusisatic candidates looking for a regular career in teaching need apply.</p>
		<p>send your CVs with photographs and copies of certificates to drvagsobha@gmail.com</p>
		</div> 
		</div>
	</div>
</div>
{% endblock %}
