<!DOCTYPE html>
<html>
<head>
	<title>Sobha Academy-{{ cur_page }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">	
	 <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="/static/js/html5shiv.js"></script>
		<![endif]-->
	<link rel="shortcut icon" href="/static/img/favicon.png">
	{% block extralinks %}
	<link href="/static/css/suhail.css" rel="stylesheet">
	{% endblock %}
</head>

<body>
{% block mainstuffs %}
	{% include "guest/includes/hnav.html" %}

	{% block header %}
	{% endblock %}		
	
	{% block content %}
	{% endblock %}


	{% include "guest/includes/footer.html" %}
{% endblock %}	
	<script src ="/static/js/jquery.js"></script>
	<script src ="/static/js/bootstrap.min.js"></script>
</body>
</html>
