{% extends "students/s_base.html" %}
{% block content %}
			<div class="container">
              <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      Results- show the updated results- click to expand.
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                      Please update results of the current student. how much he got 
                      marks in exams taken from database
                      tha is it....
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                      Progress Report- click to expand
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      This must be contails graphs of students recent marks. it must
                      show the progress report fo fthe current student in very good details.
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                      Todo-Homeworks.. click to expand
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      This must be contails todo and home works of the current student. and also much more. dead line of homeworks and projects. thanks
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}

